<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Taller Angular + NodeJS - Proyecto Desarrollo Software - @Santiago Velez S - UAM
      2020</a>
  </div>
</nav>

<div class="container">
  <div class="row">
    <app-juego-bolita></app-juego-bolita>
    <app-tabla-mult></app-tabla-mult>
    <app-mejores-estudiantes></app-mejores-estudiantes>
    <app-almacen-deporte></app-almacen-deporte>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a><br>
    <a href="https://bootswatch.com/superhero/"> Bootswatch </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->