<div class="col mt-4">
    <div class="card">
        <div class="card-header">
            <p>Mejores Estudiantes</p>
        </div>
        <div class="card-body">
            <table *ngIf="estudiantes" class="table table-hover mt-4">
                <thead class="table-primary">
                    <td>Cédula</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Edad</td>
                    <td>Nota</td>
                </thead>
                <tbody>
                    <tr *ngFor="let est of estudiantes; let i = index">
                        <td>{{ est.cedula }}</td>
                        <td>{{ est.nombre }}</td>
                        <td>{{ est.apellido }}</td>
                        <td>{{ est.edad }}</td>
                        <td>{{ est.nota }}</td>
                    </tr>
                </tbody>
            </table>
            <!-- Buttons -->
            <div class="form-group">                
                <button type="button" class="btn btn-primary" (click)="filtrar10()">
                    Filtrar 10 Mejores
                </button>
                <span>&nbsp;</span>
                <button type="button" class="btn btn-primary" (click)="crearEstudiantes()">
                    Generar Estudiantes
                </button>
            </div>
            <div class="form-group">                
                <button type="button" class="btn btn-info" (click)="filtrar10()">
                   Los 5 mas jovenes (Backend)
                </button>                
            </div>
        </div>
    </div>
</div>