<div class="col mt-4">
    <div class="card">
        <div class="card-header">
            <p>Juego Bolita</p>
        </div>
        <div class="card-body">
            <p>Donde esta la bola?</p>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="btn-group mb-4" role="group" aria-label="Basic example">

                    <button type="button" class="btn btn-secondary" (click)="select(0)">Left</button>
                    <button type="button" class="btn btn-secondary" (click)="select(1)">Middle</button>
                    <button type="button" class="btn btn-secondary" (click)="select(2)">Right</button>

                </div>
                <!-- Buttons -->
                <div class="form-group">
                    <button type="button" class="btn btn-primary" (click)="reset()">
                        Mix
                    </button>
                </div>
            </form>
            <div *ngIf="resp">
                <div *ngIf="resp.isOk" class="alert alert-success" role="alert">
                    Ganaste!!
                </div>
                <div *ngIf="!resp.isOk" class="alert alert-danger" role="alert">
                    Siga Intentando ;(
                </div>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Puntaje: {{ puntaje }} </small>
        </div>
        <div class="card-footer">
            <small class="text-muted">Intentos: {{ intentos }} </small>
        </div>
    </div>
</div>